---
layout: default
---

<section>
	{% if page.image %}
	<img src="{{ page.image }}" alt="{{ page.image_alt }}" class="left article-symbol">
	{% endif %}
	<h2><q>{{ page.quote }}</q></h2>
	<p id="meaning"><strong>Meaning:</strong> {{ page.meaning }}</p>
	{% if page.country %}
	{% assign country = site.data.countries[page.country] %}
	<p id="location"><strong>Originated in:</strong> {{ country.flag }}&nbsp;{{ country.name }}</p>
	{% endif %}
	{% if page.original.text %}
	<p id="original"><strong>Original quote:</strong>
		<q
		{% if page.original.language and page.original.language != "en" %}
		lang="{{ page.original.language }}"
		{% endif %}
		>{{ page.original.text }}</q>
		{% if page.original.language and page.original.language != "en" %}
		({{ site.data.languages[page.original.language] }})
		{% endif %}
	</p>
	{% endif %}
	{% if page.earliestAttestation %}
	<p id="earliest-attestation"><strong>Earliest attestation:</strong> {{ page.earliestAttestation }}</p>
	{% endif %}
	{{ content }}
</section>